[app]
website_name = "AWS Meta Data"
env = "local" # options: local, uat, prod, test
port = 3881
hostname = "metadata-r3.hko.hksarg"

[db]
type = "mysql"
host = "172.21.65.79"
port = 3306
user = "meta_admin"
password = "R3@meta_admin"
name = "r3_rmn_meta"

[api]
ldap_server = "ldaps://ad.yourdomain.com:636"
ldap_base_dn = "DC=yourdomain,DC=com"
ldap_service_user = "service_account"
ldap_service_pass = "your_service_password"
jwt_secret = "your_jwt_secret_key"

